# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================
venv/
.venv/
env/
ENV/
auto_comp_env/

# =========================
# TensorFlow / Keras Models
# =========================
*.h5
*.keras
*.weights.h5

# =========================
# Generated MIDI / Audio
# =========================
*.mid
*.midi
*.wav
*.mp3

output.mid
output.wav
temp_play.mid

# =========================
# Dataset
# =========================
data/
dataset/
datasets/
chorales/

# =========================
# Logs
# =========================
*.log

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# VSCode
# =========================
.vscode/

# =========================
# PyCharm
# =========================
.idea/

# =========================
# Windows
# =========================
Thumbs.db
Desktop.ini

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Temporary Files
# =========================
*.tmp
*.temp